#contactusbody {
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  width: 35%;
  margin: auto;
  margin-top: 210px;
  text-align: center;
  font-weight: bold;
}

#border {
  border: 3px solid gray;
}

#locations {
  font-weight: bold;
  font-size: 50px;
}

p {
  font-size: 22px;
  padding: 10px;
}

li {
  text-align: left;
  font-size: 25px;
}

#comment {
  height: 30px;
}

input {
  width: 100%;
}

input[type="submit"]:hover {
  background-color: red;
}

input[type="submit"] {
  background-color: orange;
}

#comment {
  height: 100px;
  width: 100%;
}
